/****** ヘッダー ******/
header {
    height: 52px;
}

header h1 {
    display: grid;
    place-items: center;
}

/****** ハンバーガーメニュー ******/
.hamburger {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    z-index: 999;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: var(--gray);
}

.hamburger.active span:first-child {
    transform: rotate(45deg) translate(1px, -4px);
    transform-origin: left top;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:last-child {
    transform: rotate(-45deg) translate(4px, 1px);
    transform-origin: left bottom;
}

#gNav {
    background-color: rgba(1, 1, 1, 0.7);
    height: 100dvh;
    position: fixed;
    top: 0;
    opacity: 0;
    transform: translateY(-10px);
    width: 100%;
    transition: opacity var(--transition-normal), transform var(--transition-normal);
    pointer-events: none;
}

#gNav.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#gNav .gNavMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100dvh;
}

#gNav .gNavMenu a {
    color: var(--white);
    transition: var(--transition-normal);
}

#gNav .gNavMenu a:hover {
    color: var(--accentColor);
}

/****** ヒーローエリア ******/
.heroAreaContainer {
    height: 88dvh;
    background: url(../src/assets/images/heroImg.webp) no-repeat 50% 50% / cover;
    display: grid;
    place-items: center;
    margin-block-end: 60px;
}

.heroLogo {
    background-color: var(--accentColor);
    width: clamp(193px, 35vw, 329px);
    padding: 10px;
}

/****** カードエリア ******/
.cardAreaLists {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.cardAreaLists img {
    aspect-ratio: 360 / 270;
    object-fit: cover;
}

.cardItemBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.goodbadBtnArea {
    display: flex;
    gap: 16px;
}

.cardItemText p:first-child {
    font-weight: 500;
    margin-block-end: 8px;
}

.cardItemText p:first-child span:first-child {
    margin-inline-end: 8px;
}

.cardItemText p:last-child {
    font-size: 12px;
}

/****** useStateを使ったモーダル ******/
.modalBtn {
    display: block;
    font-size: var(--font-size-lg);
    background-color: var(--black);
    color: var(--white);
    border-radius: 20px;
    width: 146px;
    padding-block: 8px;
    margin-inline: auto;
    margin-block-start: 24px;
}

.closeBtn {
    background-color: var(--gray);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
}

.modalOverlay {
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--white);
    border: 1px solid #fff;
    border-radius: 4px;
    position: relative;
    width: 90%;
}

.modalCoverImg img {
    height: 116px;
    object-fit: cover;
}

.modalContentInner {
    padding: 0 16px 24px;
}

.modalContentInner,
.modalForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modalForm {
    letter-spacing: 0.02em;
}

.modalForm p {
    margin-block-end: 16px;
}

/****** フォーム ******/
.radioContent {
    display: grid;
    grid-template-columns: 76px 76px 120px;
    grid-template-rows: auto auto;
    gap: 13px;
}

.checkboxContent {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.submitBtn {
    font-weight: 700;
    font-size: var(--font-size-lg);
    background-color: var(--black);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 50px;
}

/****** フッター ******/
footer {
    background-color: var(--black);
    padding-block: 18px;
}

footer p {
    width: 193px;
    margin-inline: auto;
}

/************* 
レスポンシブ
**************************/

@media (min-width: 768px) {
    /****** ヒーローエリア ******/
    .heroAreaContainer {
        height: 47dvh;
    }

    /****** カードエリア ******/
    .cardAreaLists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .modalContent {
        width: 476px;
    }
}

@media (min-width: 1440px) {
    /****** ヒーローエリア ******/
    .heroAreaContainer {
        height: 612px;
        max-width: 1440px;
        margin-inline: auto;
        background: url(../src/assets/images/heroImg.webp) no-repeat 50% 50% / cover;
    }

    /****** カードエリア ******/
    .cardAreaLists {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }

    .cardAreaLists img {
        aspect-ratio: 320 / 240;
    }
}
