/****** ハンバーガーメニュー ******/
.hamburger {
    width: 25px;
    height: 20px;
    background-color: var(--gray);
}

.hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--gray);
}

.heroAreaContainer {
    height: 88dvh;
    background: url(../src/assets/images/heroImg.webp) no-repeat 50% 50% / cover;
}

/****** useStateを使ったモーダル ******/
.modalBtn {
    background-color: var(--black);
    color: var(--white);
}

.closeBtn {
    background-color: var(--gray);
}

.modalOverlay {
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--white);
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 2rem 1.4rem;
}
