/****** ヘッダー ******/
header .wrapper {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
}

header h1 {
    display: grid;
    place-items: center;
}

/****** ハンバーガーメニュー ******/
.hamburger {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    z-index: 999;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: var(--gray);
}

.hamburger.active span:first-child {
    transform: rotate(45deg) translate(1px, -4px);
    transform-origin: left top;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:last-child {
    transform: rotate(-45deg) translate(4px, 1px);
    transform-origin: left bottom;
}

#gNav {
    background-color: rgba(1, 1, 1, .7);
    height: 100dvh;
    position: fixed;
    top: 0;
    opacity: 0;
    transform: translateY(-10px);
    width: 100%;
    transition: opacity var(--transition-normal), transform var(--transition-normal);
    pointer-events: none;
}

#gNav.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#gNav .gNavMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100dvh;
}

#gNav .gNavMenu a {
    color: var(--white);
    transition: var(--transition-normal);
}

#gNav .gNavMenu a:hover {
    color: var(--accentColor);
}

/****** ヒーローエリア ******/
.heroAreaContainer {
    height: 88dvh;
    background: url(../src/assets/images/heroImg.webp) no-repeat 50% 50% / cover;
    display: grid;
    place-items: center;
    margin-block-end: 60px;
}

.heroLogo {
    background-color: var(--accentColor);
    /* width: 213px; */
    width: clamp(193px, 35vw, 329px);
    padding: 10px;
}

/****** useStateを使ったモーダル ******/
.modalBtn {
    display: block;
    font-size: var( --font-size-lg);
    background-color: var(--black);
    color: var(--white);
    border-radius: 20px;
    width: 146px;
    padding-block: 8px;
    margin-inline: auto;
}

.closeBtn {
    background-color: var(--gray);
}

.modalOverlay {
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--white);
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 2rem 1.4rem;
}

/****** フッター ******/
footer {
    background-color: var(--black);
    padding-block: 18px;

}

footer p {
    width: 193px;
    margin-inline: auto;
}