:root {
    /* カラー */
    --white: #fff;
    --black: #000;
    --gray: #d9d9d9;
    --accentColor: #cd3796;

    /* フォントファミリー */
    --mainFont: "Lexend", sans-serif;

    /* フォントサイズ */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 13px;
    --font-size-lg: 15px;
    --font-size-xl: 24px;

    /* トランジション */
    --transition-quick: 0.3s ease-in-out;
    --transition-normal: 0.5s ease-in-out;
}

html {
    font-size: var(--font-size-sm);
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--mainFont);
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    color: var(--black);
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.wrapper {
    max-width: 1440px;
    margin-inline: auto;
}

header .wrapper {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
}

.mainWrapper {
    padding-block-start: 52px;
}

h2 {
    font-size: var(--font-size-xl);
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    padding-block: 12px;
    text-align: center;
    margin-block-end: 24px;
}

h3 {
    font-size: 24px;
    text-align: center;
}

section .wrapper {
    padding-inline: 16px;
}

section + section {
    margin-block-start: 53px;
}

section:last-child {
    margin-block-end: 47px;
}

select,
textarea {
    border: 1px solid #000;
    padding: 8px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-inline-end: 4px;
}

@media (min-width: 768px) {
    section .wrapper {
        padding: 0;
    }

    .mainWrapper {
        padding-inline: 16px;
    }
}
